<ion-header>
  <ion-toolbar>
    <ion-title>defibrilators</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <app-page-title page-title="Mes défibrilateurs"></app-page-title>

  <app-page-description
    page-description="Retrouvez ici tous vos défibrilateurs. Vous pouvez voir s'ils sont
    fonctionnels, s'ils nécéssitent de la maintenance, et en rechercher un en
    particulier."
  ></app-page-description>

  <app-defibrilator-info-card></app-defibrilator-info-card>
</ion-content>
