.defibrilator-card {
  padding: 0.25em;
  border-radius: 1em;
  box-shadow: none;
}
.defibrilator-address {
  padding-top: 0;
  color: var(--ion-color-dark);
  width: 25ch;
}

.defibrilator-serial-number {
  font-size: 1.2em;
  font-weight: bold;
}

.defibrilator-state-icon {
  width: 1.6em;
  height: 1.6em;
}

.defibrilator-state-icon img {
  object-fit: none;
}

.text-bold {
  font-weight: bold;
}

@media screen and (min-width: 992px) {
  .mobile-view {
    display: none;
  }

  .desktop-view {
    width: 85%;
    margin-left: 3em;
  }

  ion-col {
    display: flex;
    align-items: flex-start;
    color: var(--ion-color-dark);
  }

  .card-localisation-container {
    display: flex;
    gap: 0.5em;
  }

  .card-localisation-address {
    width: 30ch;
  }

  .card-localisation-address p {
    margin-top: 0;
    margin-bottom: 0;
  }

  .defibrilator-state-icon img {
    object-fit: contain;
  }

  .defibrilator-expiry-date {
    color: var(--ion-color-medium);
  }
}
